<form action="/cats/<%= @cat.id %>" method="post">
  <input type='hidden' name='_method' value='patch'
  <input type='hidden'
         name='authenticity_token'
         value='<%= form_authenticity_token %>'>

  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <select name="cat[owner_id]">
      <% Human.all.each do |human| %>
        <option value=<%= human.id %>
          <%= "selected" if human.id == @cat.owner.id if @cat.owner %>>
          <%= human.fname %>
        </option>
      <% end %>
      <option value=<%= nil %>
        <%= "selected" unless @cat.owner %>>
        None
      </option>
    </select>
  </label>

  <input type="submit">
</form>
