<form action="/cats/<%= @cat.id %>" method="post">
  <input type='hidden'
         name='authenticity_token'
         value='<%= form_authenticity_token %>'>
  <input type='hidden'
         name='_method'
         value='put'>

  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <select name="cat[owner_id]">
      <% Human.all.each do |human| %>
        <option value=<%= human.id %>
          <%= "selected" if human.id == @cat.owner_id %>>
          <%= human.fname %>
        </option>
      <% end %>
      <option value=0 <%= "selected" if !@cat.owner_id || @cat.owner_id == 0 %>>
        None
      </option>
    </select>
  </label>

  <input type="submit">
</form>
